<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Early arrival (troubleshooting setup issues)</td> </tr>
      <tr> <td>09:30</td>  <td>Start</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td>Presentation: Surf services</td> </tr>
      <tr> <td>13:45</td>  <td></td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>
